* {
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: pink;
}

#jumbotron {
    margin-top: 30px;
    text-align: center;
}

#review-button {
    width: 100%;
}